.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 120px 75px;

    background-color: var(--footer-bg);
}

.contact-methods {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 20px;

    padding: 20px 100px;
    margin-top: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 14px 0;
    /* width: 450px; */

    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;

    border-radius: 10px;

    color: white;
    background-color: var(--footer-info);
    transition: all 0.15s linear;
}
.contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px grey;
}
[theme='dark'] .contact:hover {
    box-shadow: 0 5px 5px rgb(29, 29, 29);
}
[theme='dark'] .contact:active {
    transform: translateY(0px);
    box-shadow: none;
}
.contact:active {
    transform: translateY(0);
    box-shadow: none;
}

.contact > img {
    height: 30px;
}