.hero-section {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 74px;
    height: 80vh;
    width: 100%;

    background: url('/me3Suit.png');
    background-size: cover;
    /* background: linear-gradient(var(--bg-hero-section), white); */
}
.gradient {
    display: none;
}

.about-me {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 45%;
    gap: 30px;

    margin-right: 80px;
}

.about-me>div {
    width: 100%;
}

.about-me-title {
    font-size: 8vh;
    font-weight: 700;
    color: rgb(32, 32, 32);
}

.about-me-sub-title {
    margin-top: -10px;
    font-size: 4.5vh;
    font-weight: 600;
    color: var(--theme-color);
}

.about-me-desc {
    font-size: 20px;
}

.btn-container {
    margin-top: 8px;

    display: flex;
    align-items: center;
    gap: 20px;
}
.about-me-btn {
    height: 55px;
    width: 200px;

    /* border: 2px solid var(--theme-color); */
    /* border-top: 2px solid indianred;
    border-left: 2px solid indianred;
    border-right: 3px solid darkred;
    border-bottom: 3px solid darkred; */
    border: none;
    border-radius: 8px;

    font-size: 20px;
    font-weight: 400;
    font-family: Poppins;

    color: white;
    background-color: var(--theme-color);

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about-me-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px grey;
}

.github-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 51px;
    width: fit-content;
    padding: 0 20px;

    border: 2.5px solid var(--theme-color);
    border-radius: 8px;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-color);
}
.github-logo {
    height:30px;
    width: 30px;
}
.github-name {
    margin-left: 10px;
}
.github-arrow {
    overflow: hidden;
    width: 0;
    transition: all 0.2s ease-in-out;
}
.github-btn:hover > .github-arrow {
    width: 18px;
    margin-left: 10px;
}




.about-me-image {
    display: none;
    overflow: hidden;
    width: 24%;
    height: fit-content;
}

.my-image {
    height: 100%;
    /* width: 100%; */
    transition: all 0.15s ease-in-out;
}